<section *ngIf="(gamePhase$|async) === 'MULLIGAN'; else game">
  <section class="mulligan-overview">
    <div class="player-hand-mulligan">
      <app-player-hand (cardClickedEvent)="handleMulliganCardClicked($event)" [cardSelection]="mulliganCardsSelected"
                       [hideActions]="(gamePhase$|async) === 'MULLIGAN'"></app-player-hand>
      <app-button (click)="mulliganCardsSelect()" text="Replace selected cards"></app-button>
    </div>
  </section>
</section>
<ng-template #game>
  <section *ngIf="(game$ | async) as game" class="game-area" id="game-area">
    <ng-container *ngIf="(playersIds$ | async) as playerIds; else gameLoading">
      <div class="player_lanes">
        <div class="player_units">
          <app-citizen-lane></app-citizen-lane>
        </div>
        <div class="player_buildings">
          <div *ngIf="playerIds.length > 1" class="player_settlement">
            <app-settlement></app-settlement>
          </div>
          <app-building-lane></app-building-lane>
        </div>
      </div>
      <div class="player_zone">
        <div class="player_deck">
          <app-player-deck></app-player-deck>
        </div>
        <div *ngIf="playerIds.length > 1" class="player_hand">
          <app-player-hand [hideActions]="false"></app-player-hand>
        </div>
        <div *ngIf="playerIds.length > 1" class="player_archive">
          <app-archive></app-archive>
        </div>
        <div class="player_discarded_decks">
          <app-discard-pile/>
          <app-banishment/>
          <app-graveyard/>
        </div>
      </div>
    </ng-container>
    <ng-template #gameLoading>
      <p>Game is Loading ...</p>
    </ng-template>
  </section>
</ng-template>
