@import "1-settings";

.game-area {
  width: 100%;
  height: 100%;
  background-color: $color-whites;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 0.25rem;
  padding: 0.25rem;
}

.player_hand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 12;
  grid-row-end: 18;
  grid-column-start: 1;
  grid-column-end: 9;
  background-color: rgba(0,0,0,0.66);
}
.player_deck {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 12;
  grid-row-end: 18;
  grid-column-start: 9;
  grid-column-end: 11;
  background-color: black;
}

.player_discard_pile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 12;
  grid-row-end: 18;
  grid-column-start: 11;
  grid-column-end: 13;
  background-color: black;
}

.player_banish {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 12;
  grid-row-end: 18;
  grid-column-start: 13;
  grid-column-end: 15;
  background-color: black;
}

.player_graveyard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 12;
  grid-row-end: 18;
  grid-column-start: 15;
  grid-column-end: 17;
  background-color: black;
}


.player_settlement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 7;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: purple;
}

.player_archive {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: blue;
}

.player_building {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 7;
  grid-row-end: 12;
  grid-column-start: 3;
  grid-column-end: 17;
  background-color: orange;
}

.player_units {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 17;
  background-color: red;
}
