$total-transparent: rgba(0, 0, 0, 0);

$color-background: #000;
$color-primary-background: #04151f;
$color-primary: #f59335;
$color-secondary: #335c67;
$color-whites: #f4f2f3;
$color-super-white: #fff;

$color-error: #f53535;
$color-error-darken: darken(#f53535, 15%);
