$font-family-default: PT Serif, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;

@mixin default-font {
  font-family: $font-family-default;
  font-size: 16px;
}

@mixin small-font {
  font-family: $font-family-default;
  font-size: 12px;
}
