<div *ngIf="hand$ | async as hand" class="player_hand">
    <ng-container *ngFor="let card of hand">
        <div
            (click)="handleCardClicked(card.id)"
            (keyup)="handleCardClicked(card.id)"
            [class]="
                'card-and-action-wrapper' + hideActions &&
                !cardSelected(card.id)
                    ? 'card-and-action-wrapper--hover-normal'
                    : !cardSelection
                      ? 'card-and-action-wrapper--hover-high'
                      : '' + cardSelected(card.id)
                        ? 'card-and-action-wrapper--selected'
                        : ''
            "
            role="button"
            tabindex="0">
            <app-card-actions-wrapper>
                <app-game-card
                    (handleHoverHandle)="handleCardHover($event.id)"
                    (handleHoverLeaveHandler)="handleCardHoverLeave()"
                    [cardSide]="'FRONT'"
                    [card]="card"
                    cardStyle="NORMAL" />
                <app-card-actions
                    *ngIf="!hideActions"
                    [card]="card"
                    [defaultActions]="actions(card.id)"
                    [gameSpace]="'HAND'"
                    cardButtons />
            </app-card-actions-wrapper>
        </div>
    </ng-container>
</div>
