<div *ngIf="card" [class.game-card--small]="style === 'SMALL'" class="game-card__container">
  <section class="game-card__header">
    <div class="game-card__title">{{card.title}}</div>
    <div *ngIf="card.cardType === 'building' || card.cardType === 'settlement'"
         class="game-card__health-building game-card__stat">
      <p>{{card.health}}</p>
    </div>
  </section>
  <section class="game-card__main">
    <p [innerHTML]="card.description"></p>
  </section>
  <section class="game-card__footer">
    <div class="game-card__class-type">
      <p>
        {{card.cardType}}
      </p>
    </div>
    <div class="game-card__stats">
      <div *ngIf="card.cardType==='unit' || card.cardType==='citizen'" class="game-card__attack-value game-card__stat">
        <p>{{card.attack}}</p>
      </div>
      <div *ngIf="card.cardType==='unit' || card.cardType==='citizen'" class="game-card__health-value game-card__stat">
        <p>{{card.health}}</p>
      </div>
      <div *ngIf="card.cardType==='unit' || card.cardType==='citizen'" class="game-card__defence-value game-card__stat">
        <p>{{card.defence}}</p>
      </div>
    </div>
  </section>
</div>
