@import "1-settings";

.back-text {
  color: $color-whites;
}

.game-card {
  &__placeholder {
    box-sizing: content-box;
    @include default-font;
    width: 140px !important;
    height: 210px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    border-radius: $border-radius-2;
    @include border-dashed($color-background);
  }

  &--small {
    @include small-font;
    width: 140px !important;
    height: 210px !important;

    & b {
      @include small-font;
    }

    & * {
      @include small-font;
    }
  }

  &--backside {
    background-color: $color-background !important;
  }

  &__container {
    border-radius: $border-radius-2;
    background-color: $color-whites;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    @apply flex flex-col items-center justify-between;
    aspect-ratio: 2/3;
    width: 210px;
  }

  &__header {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 1%;
    text-align: center;
  }

  &__health-building {
    width: 2rem; /* Adjust the size of the circle */
    height: 2rem; /* Adjust the size of the circle */
    background-color: black;
    border-radius: 0 50% 0 50%; /* Makes the div a circle */
    grid-column: 3;
    float: right;
    justify-self: end;
  }

  &__attack-value {
    width: 2rem; /* Adjust the size of the circle */
    height: 2rem; /* Adjust the size of the circle */
    background-color: green;
    border-radius: 0 50% 0 50%; /* Makes the div a circle */
    grid-column: 3;
  }

  &__health-value {
    width: 2rem; /* Adjust the size of the circle */
    height: 2rem; /* Adjust the size of the circle */
    background-color: red;
    border-radius: 50%; /* Makes the div a circle */
    grid-column: 3;
  }

  &__defence-value {
    width: 2rem; /* Adjust the size of the circle */
    height: 2rem; /* Adjust the size of the circle */
    background-color: blue;
    border-radius: 50% 0 50% 0; /* Makes the div a circle */
    grid-column: 3;
  }

  &__title {
    grid-column: 2;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
  }

  &__main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
  }

  &__class-type {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__stat {
    display: flex;
    justify-content: center;
    align-content: center;
    color: $color-whites;
    padding-top: 0.25rem;
  }

  &__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

