<div class="building-lane">
  <ng-container *ngFor="let building of (buildingLane$ | async)">
    <ng-container *ngIf="building">
      <div (mouseenter)="handleHoverCard(building.id)" (mouseleave)="handleMouseLeaveCard()"
           class="card-and-action-wrapper">
        <app-card-actions-wrapper>
          <app-game-card [card]="building" cardSide="FRONT" cardStyle="SMALL"/>
          <app-card-actions *ngIf="isHovered(building.id)" [actions]="actions" [card]="building"
                            cardButtons/>
        </app-card-actions-wrapper>
      </div>
    </ng-container>
    <ng-container *ngIf="showSlots$ | async">
      <app-game-card backText="+" cardSide="BACK" cardStyle="PLACEHOLDER"/>
    </ng-container>
  </ng-container>
  <p>Building Lane</p>
</div>
