@import '1-settings';

.citizen-lane {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gutter;
}

.card-and-action-wrapper {
    transition: scale 0.5s ease;
    display: flex;
    flex-direction: row;
    gap: $gutter;

    &:hover {
        transform: scale(1.1);
    }
}
